* {
    background-color: gray;
    margin: 0px;
    padding: 0px;
}

h1 {
    border:1px solid white;
    margin: 20px 0px 20px 0px;
    padding: 20px ;
    background-color: Tomato;
    color:white;
    font-family: "Arial Narrow";
}

h2{
    border:1px solid white;
    margin: 20px 0px 20px 0px;
    padding: 20px ;
    background-color: DodgerBlue;
    color:white;
    font-family: "Arial Narrow";
}

h3{
    border:1px solid white;
    margin: 20px 0px 20px 0px;
    padding: 20px ;
    background-color: MediumSeaGreen;
    color:white;
    font-family: "Arial Narrow";
}


p.p1 {
    text-align: justify;
    text-align-last: center;
    border:1px solid white;
    margin: 20px 0px 20px 0px;
    padding: 20px ;
    background-color: Tomato;
    color:white;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: capitalize;
    text-indent: 100px;
    word-spacing: 5px;
    font-family: "Arial Narrow";
}

p.p1 > span {
    text-decoration: line-through;
    background-color: Tomato;
    color:white;
}

p.p2 {
    text-shadow: 2px 2px black;
    text-align: justify;
    text-align-last: center;
    border:1px solid white;
    margin: 20px 0px 20px 0px;
    padding: 20px ;
    background-color: Skyblue;
    color:white;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 20px;
    text-transform: capitalize;
    text-indent: 100px;
    word-spacing: 5px;
    font-family: "Arial";
}
